<template>
  <div id="Main">
    <v-row justify="center" align="center">
      <v-col cols="12">
        <!-- <v-card class="logo py-4 d-flex justify-center">
        <NuxtLogo />
        <VuetifyLogo />
      </v-card> -->
        <v-card>
          <v-card-title class="headline"> Main Menu </v-card-title>

          <div
            class="ma-4"
            id="cardMenu"
            v-for="(item, index) in menudetail"
            :key="index"
          >
            <v-card :id="'menu' + (index + 1)">
              <form class="ma-5 pa-3">
                <v-text-field
                  :id="'menuname' + (index + 1)"
                  label="ชื่อเมนู"
                  v-model="menudetail[index].menuname"
                ></v-text-field>

                <v-file-input
                  :label="menudetail[index].menuicon"
                  filled
                  prepend-icon="mdi-camera"
                  @change="Preview_image"
                  v-model="image"
                ></v-file-input>

                <!-- <v-text-field
                  label="Icon"
                  v-model="menudetail[index].menuicon"
                ></v-text-field> -->
                <v-img class="ma-3" :src="menudetail[index].menuicon" max-height="120" max-width="120"></v-img>

                <!-- <v-img
                  lazy-src="menudetail[index].menuicon"
                  max-height="120"
                  max-width="120"
                  :src="menudetail[index].menuicon"
                ></v-img> -->

                <v-select
                  :id="'menusize' + (index + 1)"
                  label="Menu Size"
                  v-model="menudetail[index].menusize"
                  :items="menusize"
                  item-text="size"
                  item-value="val"
                ></v-select>

                <v-select
                  :id="'menuaction' + (index + 1)"
                  label="Action"
                  v-model="menudetail[index].menuaction"
                  :items="menuaction"
                  item-text="action"
                  item-value="val"
                ></v-select>

                <v-switch
                  :id="'menuswitch' + (index + 1)"
                  v-if="menudetail[index].menuactive == 1"
                  v-model="menudetail[index].menuactive"
                  :label="`Active`"
                  @change="switchToggle(index, menudetail[index].menuactive)"
                ></v-switch>

                <v-switch
                  :id="'menuswitch' + (index + 1)"
                  v-else-if="menudetail[index].menuactive == 0"
                  v-model="menudetail[index].menuactive"
                  :label="`Inactive`"
                  @change="switchToggle(index, menudetail[index].menuactive)"
                ></v-switch>

                <v-btn
                  :id="'menusave' + (index + 1)"
                  class="mb-4"
                  @click="onSaveMenu(index)"
                >
                  บันทึก
                </v-btn>
              </form>
            </v-card>
          </div>

          <v-card-actions>
            <v-spacer />
            <!-- <v-btn color="primary" nuxt to="/inspire"> Continue </v-btn> -->
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'Main',
  data() {
    return {
      menusize: [
        { size: 'Small', val: 1 },
        { size: 'Medium', val: 2 },
        { size: 'Large', val: 3 },
      ],
      menuaction: [
        { action: 'Internal', val: 1 },
        { action: 'External', val: 2 },
        { action: 'Website', val: 3 },
        { action: 'Direct Call', val: 4 },
      ],
      menudetail: [],
      url: null,
      image: null,
    }
  },
  mounted() {
    // this.hn = this.$route.params.qrcodedata
    this.getAllMenu()
    // console.log(this.vitalsigns);
    // console.log('Pass HN ' + this.$route.params.qrcode + ' to API')
  },
  methods: {
    onSaveMenu(index) {
      console.log(this.menudetail[index])
    },
    async getAllMenu() {
      this.$axios({
        method: 'GET',
        url: process.env.menus,
        headers: {
          // 'Access-Control-Allow-Origin': '*',
          'Content-Type': 'application/json',
        },
        data: {},
      }).then((response) => {
        let menuData = response.data
        if (menuData.statusCode === 200) {
          if (menuData.data.length != 0) {
            // this.items = menuData.data
            for (const iterator of menuData.data) {
              // console.log(iterator);
              this.menudetail.push({
                menuid: iterator.menu_id,
                menuname: iterator.menu_name,
                menuicon: iterator.menu_link,
                menusize: iterator.menu_size,
                menuaction: iterator.menu_action,
                menuactive: iterator.menu_active,
              })
            }
            // console.log(this.menudetail)
          }
        }
      })
    },
    switchToggle(index, toggle) {
      this.menudetail[index].menuactive = toggle
    },
    Preview_image() {
      this.url = URL.createObjectURL(this.image)
    },
  },
}
</script>
